@primary-color: #7522f5;
@popover-background: #1a2029;
@primary-color-light: #f4edfe;
@primary-color-dark: #4c00c0;
@secondary-color-dark: #e9ae00;
@lnft-green: #85bb13;
@lnft-blue: #52acd3;
@lnft-red: #e75d3e;
@lnft-yellow: #f7cb4a;
@gray-medium: #757575;
@gray-medium-alt: #bdbdbd;
@gray-light: #e5e5e5;
@gray-lightest: #f7f7f7;
@layout-body-background: #fff;
@layout-header-background: #fff;
@font-size-base: 16px;
@font-size-sm: 14px;
@linear-background: linear-gradient(90deg, #67c8fc 0%, #8c7afc 48.44%, #d765ff 100%);

@desktopXL: ~'only screen and (max-width: 2500px)';
@desktopL: ~'only screen and (max-width: 1600px)';
@desktopXM: ~'only screen and (max-width: 1440px)';
@desktopM: ~'only screen and (max-width: 1200px)';
@desktopS: ~'only screen and (max-width: 1024px)';
@tabletL: ~'only screen and (max-width: 992px)';
@tabletM: ~'only screen and (max-width: 768px)';
@tabletS: ~'only screen and (max-width: 576px)';
@mobile: ~'only screen and (max-width: 480px)';
