@import '../../variable.less';

.candy-orders {
  &-container {
    width: 100%;
    margin-bottom: 50px;

    .infinite-scroll-component {
      overflow: unset !important;
    }
  }

  &-filter {
    display: flex;
    flex-flow: row wrap;

    > .candy-filter {
      text-align: left;
      width: 220px;

      ul {
        list-style-type: none;

        li {
          line-height: 22px;
          font-size: 14px;
          cursor: pointer;
        }

        li.selected {
          font-weight: bold;
        }
      }

      .candy-filter-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5px;
      }

      .candy-filter-attribute {
        margin-bottom: 4px;

        .candy-dropdown {
          width: max-content;
          max-width: 250px;
          min-width: 150px;
        }
      }

      @media @tabletM {
        width: 100%;
      }
    }

    > .candy-orders-content {
      flex: 1;
      padding-left: 20px;
    }

    @media @tabletM {
      row-gap: 16px;
      column-gap: 16px;
      > * {
        width: 100%;
      }
    }
  }

  &-sort {
    display: flex;
    margin-bottom: 16px;

    &-right {
      justify-content: flex-end;
    }
  }
}
