@import '../../variable.less';

.candy-buy-modal-container {
  .candy-modal-content {
    padding-bottom: 30px;
  }
}
.candy-orders {
  &-container {
    width: 100%;
    margin-bottom: 50px;

    .infinite-scroll-component {
      overflow: unset !important;
    }

    .candy-orders-sort {
      display: flex;
      margin-bottom: 16px;

      .candy-search {
        margin-left: 10px;
        margin-bottom: 0;

        input {
          border: 2px solid #000;
          height: 100%;
          width: 250px;
        }
      }

      &-right {
        justify-content: flex-end;
        align-items: stretch;
        .candy-search {
          margin-right: 10px;
        }
      }
    }
  }

  &-filter {
    display: flex;
    flex-flow: row wrap;

    .candy-filter-all {
      padding: 4px 8px;
      margin-bottom: 15px;
      cursor: pointer;

      &.candy-filter-all-active {
        font-weight: bold;
        color: @primary-color;
        background-color: #f4edfe;
      }
    }

    > .candy-filter {
      text-align: left;
      width: 220px;

      ul {
        list-style-type: none;

        li {
          cursor: pointer;
          transition: 0.2s all ease-in-out;
          padding: 4px 8px;
        }

        li.selected {
          font-weight: 500;
          background-color: #f4edfe;
          color: @primary-color;
        }
      }

      .candy-filter-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 12px;
        border-bottom: 1px solid @gray-medium-alt;
        margin-bottom: 15px;
      }

      .candy-filter-subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      .candy-filter-attribute {
        margin-bottom: 4px;

        .candy-dropdown {
          width: max-content;
          max-width: 250px;
          min-width: 150px;
        }
      }

      @media @tabletM {
        width: 100%;
      }
    }

    > .candy-orders-content {
      flex: 1;
      padding-left: 10px;

      @media @tabletM {
        padding-left: 0px;
      }
    }

    @media @tabletM {
      row-gap: 16px;
      column-gap: 16px;
      > * {
        width: 100%;
      }
    }
  }
}
