@import '../../variable.less';

.card-payment-modal-container {
  width: 100%;
  height: 100%;
}

.card-payment-modal-button {
  margin-top: 24px;
}

.card-element-base-style {
  padding-top: 16px;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
}

label {
  display: block;
}

small {
  font-size: 0.6em;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}
