.candy-buy-modal {
  display: flex;
  gap: 24px;
  font-size: 16px;
  line-height: 24px;
  align-items: center;

  .candy-buy-modal-thumbnail {
    align-self: flex-start;
    width: 340px;
    height: 340px;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .candy-buy-modal-container {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;

    .candy-buy-modal-title {
      text-align: left;
      font-weight: bold;
      font-size: 24px;
    }

    .candy-buy-modal-control {
      display: flex;
      text-align: left;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 25px;

      .candy-buy-modal-button {
        padding: 8px 50px;
        border-radius: 32px;
        height: 56px;
        width: 280px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-right: 10px;
        }
      }
    }
  }

  .candy-buy-modal-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  .candy-buy-modal-confirmed {
    width: 100%;

    &-flex {
      display: flex;
      flex-flow: row wrap;
      row-gap: 24px;
      column-gap: 16px;
      > * {
        width: calc((100% - 16px) / 2);
      }
    }

    &-item {
      text-align: left;
    }

    .candy-buy-modal-confirmed-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
    }

    .candy-buy-modal-confirmed-container {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      p {
        margin-bottom: 4px;
      }
    }

    .candy-buy-modal-confirmed-content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      flex: 1;

      .candy-buy-modal-name {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
      }

      .candy-buy-modal-ticker {
        text-align: left;
        font-size: 14px;
      }
    }

    .candy-buy-modal-confirmed-thumbnail {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    hr {
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 24px;
    }

    .candy-button {
      width: 100%;
      padding: 8px 0;
      text-align: center;
      margin-top: 40px;
    }
  }
}
