@import '../../variable.less';

.candy-dropdown {
  padding: 12px;
  border: 2px solid @candy-shop-border-primary;
  width: 184px;
  &:hover {
    cursor: pointer;
  }
  border-radius: 4px;
  position: relative;
  background-color: #fff;

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-placeholder {
      opacity: 0.5;
    }
  }

  &-icon {
    pointer-events: none;
    margin-left: 4px;
  }

  &-menu {
    width: 100%;
    color: @candy-shop-text-color-primary;
    background-color: #fff;
    margin-top: 8px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99;
    border: 2px solid #000;
    border-radius: 4px;
    .menu-middle-item {
      padding: 12px;
      border-bottom: 2px solid #000;
      text-align: left;
    }

    .menu-last-item {
      padding: 12px;
      text-align: left;
    }

    .menu-middle-item:hover,
    .menu-last-item:hover {
      background-color: @candy-shop-color-primary-light;
    }
  }

  &-label {
    margin: 0;

    &--purple {
      color: @candy-shop-color-primary;
    }
    &--black {
      color: @candy-shop-text-color-primary;
    }
  }

  --icon-chevron-up: @candy-shop-color-primary;
  --icon-chevron-down: @candy-shop-text-color-primary;
}
