.candy-nft {
  &-card {
    position: relative;
    height: auto;
    z-index: 3;
  }

  &-info {
    color: black;
    vertical-align: middle;
    padding: 12px;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    .name {
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .ticker {
      font-size: 14px;
      text-align: left;
      font-weight: 400;
      height: 22px;
    }
  }
}
