.sell-modal {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &-title {
    padding-top: 50px;
    padding-bottom: 40px;

    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 100px;
    height: 100px;
    margin-right: 40px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &-collection-name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &-nft-name {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  &-listed {
    align-self: flex-start;
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
  }

  &-hr {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;

    margin-top: 40px;
    margin-bottom: 50px;
  }

  &-button {
    width: 100%;
    margin-bottom: 30px;

    cursor: pointer;
    color: #fff;
    background: #7522f5;
    border-radius: 32px;
    padding: 16px 100px;

    &:disabled {
      background: #bdbdbd;
    }
  }
}
