.candy-checkbox-container {
  display: flex;

  .candy-checkbox-label {
    cursor: pointer;
  }
}

.candy-checkbox {
  border: 2px solid #7522f5;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;

  .candy-checkbox-input {
    display: none;
  }

  &.candy-checkbox-disable {
    border: 2px solid #bdbdbd;

    svg {
      opacity: 0;
    }
  }

  svg {
    width: 85%;
    height: 85%;
  }
}
