@import 'antd/es/style/themes/default.less';
@import 'antd/dist/antd.less';

.color-purple {
  color: #7522f5;
}

img {
  width: 100%;
  height: 100%;
}

.candy-modal {
  max-width: 90vw;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 0;

  .ant-modal-body {
    padding: 83px 58px 76px;
    display: flex;
  }
}

.candy-container {
  width: 100%;
}

.candy-button {
  background: #7522f5;
  border-radius: 32px;
  color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background: #9a4dff;
  }

  &:disabled {
    background: #bdbdbd;
  }
}

.candy-title {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 42px;
  text-align: center;
}

.candy-value {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.candy-label-input {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.candy-label {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #757575;
  margin: 0;
  font-variant: small-caps;
}

.candy-form {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;

  .candy-button {
    width: 100%;
    padding: 16px 0;
    margin-top: 40px;
  }

  .ant-form-item-label {
    padding: 0;
  }

  .ant-form-item-required {
    &::before {
      display: none !important;
    }
  }

  .ant-input-affix-wrapper,
  .ant-picker-range {
    width: 100%;
    border: 2px solid #e0e0e0 !important;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    box-shadow: none !important;
  }
}

.candy-item {
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  margin-bottom: 58px;

  .ant-card-cover {
    padding-top: 100%;
    position: relative;

    .candy-item-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .ant-card-body {
    display: flex;
    justify-content: space-between;
    padding: 22px 22px 30px;

    &:before,
    &:after {
      display: none;
    }

    & > div {
      &:first-of-type {
        width: 60%;
      }

      &:last-of-type {
        text-align: right;
        width: 38%;
      }
    }

    p {
      margin: 0;

      &:last-of-type {
        color: #000000;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
      }
    }
  }
}